@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  height: 100%vh;
  width: 100%;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

[id] {
  scroll-snap-align: start;
  scroll-margin: 0;
  height: 100vh;
  width: 100vw;
} 

/* HERO */

#title {
  background-image: url("/background.jpg");
  background-size: cover;
  width: 93vw;
  height: 100vh;
}

.intro-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  font-size: 600%;
  font-weight: 600;
  text-align: left;
}

.intro {
  padding: 10vmin;
  line-height: 1;
}

.hello {
  font-size: 60%;
}

.name {
  line-height: 0;
}

.se {
  color: #f1d8b4;
  text-shadow: 1px 0px 6px rgb(235, 178, 72);
  font-size: 70%;
}

.and {
  font-size: 60%;
}

.about-me {
  font-size: 22%;
  width: 60vw;
  margin: 1vmin;
}

.face {
  position: absolute;
  height: 60vh;
  width: auto;
  left: 0;
  top: 40vh;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #1F2326;
  height: 100vh;
  width: 7vw;
  letter-spacing: 1px;
  border-bottom: #1F2326 solid .5px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #68727B;
  padding: 6vh 3vw;
}

a:hover {
  color: black;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: right;
  font-size: large;
  padding: 0;
  width: 7vw;
  overflow: hidden;
}

li {
  margin: 6vh 0;
  text-align: right;
}

li a:hover {
  background-color: #0c1113;
  color: #698ea9;
  transition: all 0.5s ease;
}

/* SKILLS PAGE */

#skills {
  scroll-snap-align: start;
  width: 100%;
  color: #0c1113;
  background: #0c1113;
  background: linear-gradient(0deg, #0c1113 5%, #698ea9 50%,#f1d8b4 95%);
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

#skills img {
  width: 22vmin;
}

.languages, .frameworks, .tools {
  color: #698ea9;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c1113;
  height: 50%;
  border-radius: 10%;
}

/* PROJECTS PAGE */

.p1 {
  height: 25%;
  width: 25%;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  scroll-snap-align: start;
  background-color: #0c1113;
  color: #906944;
}

/* CONCTACT PAGE */

#contact {
  background-color: #698ea9;
  color: #0c1113;
}