@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #666;
}

body {
  height: 100%vh;
  width: 100%;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

#title, #skills, #projects, #contact, #about-me {
  scroll-snap-align: start;
  scroll-margin: 0;
  height: 100vh;
  width: 100vw;
}

/* HERO */

#title {
  background-image: url("/background.jpg");
  background-size: cover;
  width: 93vw;
  height: 100vh;
}

h1 {
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  font-size: 400%;
  font-weight: 600;
  text-align: left;
}

#intro {
  padding: 10vmin;
}

#intro {
  line-height: 1;
}

#hello {
  font-size: 60%;
}

h1 #name {
  line-height: 0;
}

#se {
  color: #f1d8b4;
  text-shadow: 1px 0px 6px rgb(235, 178, 72);
  font-size: 70%;
  margin: -1vmin 0;
}

#and {
  font-size: 60%;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #333;
  height: 100vh;
  width: 7vw;
  letter-spacing: 1px;
  border-bottom: #333 solid .5px;
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;
  padding: 6vh 3vw;
}

a:hover {
  color: black;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: right;
  padding: 0;
  width: 7vw;
  overflow: hidden;
}

li {
  margin: 6vh 0;
  text-align: right;
}

li a:hover {
  background-color: #222;
  color: white;
  transition: all 0.5s ease;
}

/* SKILLS PAGE */

#skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  scroll-snap-align: start;
  width: 80vw;
  height: 100vh;
}

/* PROJECTS PAGE */

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  scroll-snap-align: start;
}